<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=61560334072470"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/wanderl_ust24?igsh=MWY2anp1OWlxOTNpbw=="><i class="fa-brands fa-square-instagram"></i></a>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms and Conditions</a>
        </div>
    </div>
</footer>